/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1000px;

// Colors
$red: red;
$blue: blue;

$cyan: 		#528b8b;
$mustard: 	#edc731;
$slate: 	#333736;
$cream: 	#f9f4e1;
$coal: 		#414143;
$grae: 		#b4aba4;
$teal: 		#007e72;

// Text Selection
$selectionColor: $mustard;